## Print the number

In [7]:
n=int(input("Enter the number "))
for i in range(1,n):
    print("Count is ", i)
    i+=1
print("Out of loop")

Enter the number 5
Count is  1
Count is  2
Count is  3
Count is  4
Out of loop

## Factorial of a number

In [11]:
n=int(input("Enter a number "))
fact=1
i=1
for i in range(1,n+1):
    fact=fact*i
    i+=1
print(fact)

Enter a number 5
120

In [12]:
n=int(input("Enter a number "))
fact=1
i=1
for i in range(1,n+1):
    fact=fact*i
    i+=1
    print(fact)

Enter a number 5
1
2
6
24
120

## Table of a number

In [15]:
n=int(input("Enter a number "))
for i in range(1,11):
    print("",n,"*","",i,"=",i*n)

Enter a number 6
 6 *  1 = 6
 6 *  2 = 12
 6 *  3 = 18
 6 *  4 = 24
 6 *  5 = 30
 6 *  6 = 36
 6 *  7 = 42
 6 *  8 = 48
 6 *  9 = 54
 6 *  10 = 60

## Print Even number from 1 to 100

In [16]:
for i in range(1,101):
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

## Print odd number from 1 to 100

In [17]:
for i in range(1,101):
    if(i%2!=0):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## Reverse of a number

In [7]:
n=int(input("Enter a number "))
rev=0
for i in range(len(str(n))):
    rem=n%10
    rev=rev*10+rem
    n=n//10
print("Reverse is ",rev)

Enter a number 505
Reverse is  505

In [12]:
num = input('Enter the number: ')
reverse =""
for i in range(len(num), 0, -1):
   reverse += num[i-1]
print('The reverse number is =', reverse)

Enter the number: 789
The reverse number is = 987

## Palindrome of a number

In [8]:
n=int(input("Enter a number "))
rev=0
a=n
for i in range(len(str(n))):
    rem=n%10
    rev=rev*10+rem
    n=n//10

print('The reverse number is =', rev)
if a==rev:
    print("Its a palindrome")
else:
    print("Its not a palindrome")

Enter a number 4556
The reverse number is = 6554
Its not a palindrome

## Factors of a number

In [34]:
num =int(input('Enter the number: '))
for i in range(1,num+1):
    if num%i==0:
        print(i)

Enter the number: 125
1
5
25
125

## Prime number or not

In [44]:
num =int(input('Enter the number: '))
count=0
for i in range(1,num+1):
    if num%i==0:
        count+=1
        
if count>2:
    print("Not prime")
else:
    print("It's a prime no.")

Enter the number: 91
Not prime

## Print prime numbers from 1 to 100

In [43]:
for num in range (1, 101):
    count = 0
    for i in range(2, (num//2 + 1)):
        if(num % i == 0):
            count = count + 1
            break

    if (count == 0 and num != 1):
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [45]:
num =int(input('Enter the number: '))
for i in range(1,num+1):
    print(i**3)

Enter the number: 5
1
8
27
64
125

## Write a program to print the following number pattern using a loop

1
12
123
1234
12345

In [50]:
for i in range(1,6): 
    for j in range (1,i+1): 
        print(j,end="")
    print()

1
12
123
1234
12345

In [ ]:
1
22
333
4444
55555

In [51]:
for i in range(1,6): 
    for j in range (1,i+1): 
        print(i,end="") 
    print()

1
22
333
4444
55555

In [20]:
for i in range(0,5):
    for j in range (5,i,-1): 
        print(j,end="")
        
    print()

54321
5432
543
54
5

In [30]:
for i in range(6,1,-1):
    for j in range (1,i): 
        print(j,end="")
        
    print()

12345
1234
123
12
1

In [1]:
for i in range(5,0,-1):
    for j in range (i,0,-1): 
        print(j,end="")
        
    print()

54321
4321
321
21
1

## Cube till a number input by user

In [2]:
n=int(input("Enter a number "))
for i in range(1,n+1):
    print(i**3)

Enter a number 9
1
8
27
64
125
216
343
512
729

## Counts the number of characters in string

In [9]:
str = "testing for loops"
count = 0

for x in str:
  if x == 't':
    count += 1

print(count)

2